# list
key charecter:

mutable, index, duplicate allow,  syntax []

more memory occupy(due to referencial arrey)

more time taking for execution

dynamic array

#list formation

In [ ]:
#empty list
L1 = []
#print(L1)
#type(L1)
#1D list
L2=[4,5,6,7]


#2D list

L3 = [[1,2],[3,4]]
#3D list
L4 = [[[1,2],[3,4]],[[5,6],[7,8]]]
#4D list
L5 = [[[[1,2],[3,4],[5,6]],[[4.6],[6 ,7],[7,7]]],[[[8,9],[2,6],[5,6]],[[6,7],[2,4],[1,5]]]]
print(L1)
print(L2)
print(L3)
print(L4)
print(L5)

[]
[4, 5, 6, 7]
[[1, 2], [3, 4]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[[[[1, 2], [3, 4], [5, 6]], [[4.6], [6, 7], [7, 7]]], [[[8, 9], [2, 6], [5, 6]], [[6, 7], [2, 4], [1, 5]]]]

#accssing th list elements

indexing

sliicing

In [ ]:
#1D
L3 = [[1,2],[3,4]]
print(L3[1])
#2D
L4 = [[[1,2],[3,4]],[[5,6],[7,8]]]
print(L4[0][1][1])
#4D
L5 = [[[[1,2],[3,4],[5,6]],[[4.6],[6 ,7],[7,7]]],[[[8,9],[2,6],[5,6]],[[6,7],[2,4],[1,5]]]]
print(L5[0][0][2][1])

[3, 4]
4
6

In [ ]:
##slicing
L2=[4, 5, 6, 7]
print(L2[0:])
9
print(L2[:3])
print(L2[0:2])

[4, 5, 6, 7]
[4, 5, 6]
[4, 5]

#additing the list element

append

extend

insert

update

In [ ]:
#append
L2=[4, 5, 6, 7]
#append prefer to add the single item
L2.append(10)
print(L2)
L2.append([1,3,4])
print(L2)
L2.append("lahore")
print(L2)

#extend
L3= [12, True,False,'amnina',2+5j]
L3.extend([3,4,5])
print(L3)


#insert
#add element to the index number
L3.insert(2,23)
print(L3)

[4, 5, 6, 7, 10]
[4, 5, 6, 7, 10, [1, 3, 4]]
[4, 5, 6, 7, 10, [1, 3, 4], 'lahore']
[12, True, False, 'amnina', (2+5j), 3, 4, 5]
[12, True, 23, False, 'amnina', (2+5j), 3, 4, 5]

#editing ehe element of the list

through indexing

through slicing

In [ ]:
#through indexing
L6 = [12, True, 23, False, 'amnina', (2+5j), 3, 4, 5]
L6[2] = "good"
print(L6)



#through slicing
L6[5:7]=[100,200]
print(L6)

[12, True, 'good', False, 'amnina', (2+5j), 3, 4, 5]
[12, True, 'good', False, 'amnina', 100, 200, 4, 5]

#deleting element from the list
del(delete the wholelist)

remove(remove the specific given element of the list)

clear(remove the element and output the empty list)

pop(when no argument given remove the last element)

In [ ]:
#del(delete the wholelist)
L6 = [12, True, 23, False, 'amnina', (2+5j), 3, 4, 5]
del(L6)
#print(L6)


#remove(remove the specific given element of the list)
L6 = [12, True, 23, False, 'amnina', (2+5j), 3, 4, 5]
L6.remove(3)
print(L6)

#clear(remove the element and output the empty list)
L6 = [12, True, 23, False, 'amnina', (2+5j), 3, 4, 5]
#L6.clear()
#print(L6)


#pop(when no argument given remove the last element)
L6 = [12, True, 23, False, 'amnina', (2+5j), 3, 4, 5]
L6.pop(-2)
print(L6)
L6.clear()
print(L6)

[12, True, 23, False, 'amnina', (2+5j), 4, 5]
[12, True, 23, False, 'amnina', (2+5j), 3, 5]
[]

#operation on list
 arthimatic operations

 mambership operaters

 loops

In [ ]:
#arthimatic operations
#it concatenate two lists
L1 = [1,23,4]
L2 = [6,7,8]
L3=(L1+L2)
print(L3)

#mambership operaters
23 in L1
3 in L2
3 not in L1

#loops
for num in (L1):
  print(num)

[1, 23, 4, 6, 7, 8]
1
23
4

#list functions

min()

max()

len()

sorted()/ sort the list temporarily

sort() / sort the list permanantly

copy()

index()

In [ ]:
#min()
list_1=[1,24,13,54,41,41,15,66]
print(list_1)
print(min(list_1))
print(max(list_1))
print(len(list_1))
#sorted()/ sort the list temporarily
print(sorted(list_1))
print(list_1)

[1, 24, 13, 54, 41, 41, 15, 66]
1
66
8
[1, 13, 15, 24, 41, 41, 54, 66]
[1, 24, 13, 54, 41, 41, 15, 66]

In [ ]:
#sort verses sorted function
list=[1,24,13,54,41,41,15,66]
print(list)
print(sorted(list))
print(list)

list.sort()
print(list)

[1, 24, 13, 54, 41, 41, 15, 66]
[1, 13, 15, 24, 41, 41, 54, 66]
[1, 24, 13, 54, 41, 41, 15, 66]
[1, 13, 15, 24, 41, 41, 54, 66]

In [ ]:
#indexing
list_=[1,24,13,54,41,41,15,66]
list_.index(24)
list_.index(41)

4

In [ ]:
#reverse
list1=[7,8,9,10,11,12,13]
#temporarily reverse the list and original list does not change
print(list1[::-1])
print(list1)
#reverse function permanatly change the parent string
(list1.reverse())
print(list1)

[13, 12, 11, 10, 9, 8, 7]
[7, 8, 9, 10, 11, 12, 13]
[13, 12, 11, 10, 9, 8, 7]

In [ ]:
#count
list2=[5,6,7,6,7,8,9]
list2.count(7)
list2.count(8)

1

In [ ]:
#copy/shallow copy
a =[1,3,4,5,6]
b = a.copy()
print(a)
print(b)
a.append(5)
print(a)
print(b)
print(id(a))
print(id(a.copy))
print(id(b))

[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6, 5]
[1, 3, 4, 5, 6]
136534160131584
136533272563600
136533683368768

#list traverse
two ways to traverse(access the element in the list)

itemwise

indexwise

In [ ]:
#itemwise
l3 = [4,5,6,7,8,9,10]
#for item in l3:
#print(item)


#indexwise
L3 = [4,5,6,7,8,9,10]
for i in range(0,len(L3)):
  print(f' {i}. {L3[i]}')

 0. 4
 1. 5
 2. 6
 3. 7
 4. 8
 5. 9
 6. 10

#zip function

In [ ]:
L_6=[1,2,3,4,5]
L_7 = [3,6,7,8,9]
(zip(L_6,L_7))

multiply = [i*j for i,j in zip(L_6,L_7)]
addition = [i+j for i,j in zip(L_6,L_7)]
difference = [i-j for i,j in zip(L_6,L_7)]
division= [i/j for i,j in zip(L_6,L_7)]
print(multiply)
print(addition)
print(difference)
print(division)

[3, 12, 21, 32, 45]
[4, 8, 10, 12, 14]
[-2, -4, -4, -4, -4]
[0.3333333333333333, 0.3333333333333333, 0.42857142857142855, 0.5, 0.5555555555555556]

In [ ]:
L_6=[1,2,3,4,5]
L_8 = [3]

mul = [i* L_8[0] for i in (L_6)]
print(mul)

[3, 6, 9, 12, 15]

#list comprehesion

list comprehension is more concise way to itterate any iterable and take less time and memory. concise code of few lines


newlist  =  (expresssion for expresssion in iterable if ==True)

In [ ]:
list =[]
for i in range(1,11):
  list.append(i)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
newlist = [i for i in range(1,12)]
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# scalar multiplication on a vector
s = [3,4,5,6]
v= [-5]
[i*v[0] for i in s]

[-15, -20, -25, -30]

In [ ]:
# Add squares
c= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sq  =[i**2 for i in c]
print(sq)
sum(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

385

In [ ]:
# Print all numbers divisible by 5 in the range of 1 to 50
[i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# find languages which start with letter p
languages = ['java', 'python', 'php', 'c#']
[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']
a_fruit = [fruit for fruit in basket if fruit.startswith('a')]
print(a_fruit)
frus = basket+my_fruits
print(frus)

['apple']
['apple', 'guava', 'cherry', 'banana', 'apple', 'kiwi', 'grapes', 'banana']

In [ ]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# cartesian products -> List comprehension on 2 lists together
h= [1, 2, 3]
k =[2, 4, 6]
[i*j for i in h for j in k ]

[2, 4, 6, 4, 8, 12, 6, 12, 18]

#proograme excercise of list

In [ ]:
# Create 2 lists from a given list where
# 1st list will contain all the odd numbers from the original list and
# the 2nd one will contain all the even numbers

L = [1,2,3,4,5,6]
f_list = [i for i in L if i%2==0]
print(f_list)
s_list = [i for i in L if i%2!=0]
print(s_list)

[2, 4, 6]
[1, 3, 5]

In [ ]:
# How to take list as input from user
list_input = input("enter the user list")
user_list = list_input.split()
print(user_list)

enter the user list2 3 4 5 6
['2', '3', '4', '5', '6']

In [ ]:
# Write a program to merge 2 list without using the + operator
L1 = [1,2,3,4]
L2 = [5,6,7,8]
L1.extend(L2)
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Write a program to replace an item with a different item if found in the list
L = [1,2,3,4,5,3]
# replace 3 with 300
L[-1]=300
print(L)

[1, 2, 3, 4, 5, 300]

In [ ]:
# Write a program that can convert a 2D list to 1D list
def convert_2d_to_1d(input_list):
  one_d = [i for sublist in input_list for i in sublist]
  return one_d

convert_2d_to_1d([[1,2],[3,4]])

[1, 2, 3, 4]

In [ ]:
# Write a program to remove duplicate items from a list

L = [1,2,1,2,3,4,5,3,4]
L1 = []
for i in L:
  if i not in L1:
    L1.append(i)
print(L1)

[1, 2, 3, 4, 5]

In [ ]:
# Write a program to check if a list is in ascending order or not
def  ascending_order(first_list):
  if sorted(first_list)==first_list:
    print(True)
  else:
    print(False)

ascending_order([1,2,5,7,4])
ascending_order([11,22,31,49,])

False
True